@import "tailwindcss";
@import "rsuite/dist/rsuite.css";

@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Centra;
  src: url("./assets/font//CentraNo2-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Book.ttf");
  font-weight: 400;
}

@font-face {
  font-family: bubblegums;
  src: url("./assets/font/06384_BUBBLEGU.ttf");
  font-weight: 300;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}


.rs-sidenav .rs-dropdown .rs-dropdown-toggle {
  background: transparent;
  background-size: cover;
  background-position: center;
}

.rs-sidenav .rs-dropdown .rs-dropdown-toggle:hover {
  background: transparent;
}

.rs-sidenav .rs-dropdown-menu {
  background-image: url(./assets/img/banner-bg.png);
}

.rs-sidenav .rs-sidenav-toggle .rs-btn {
  background: none;
}
